* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
